@import '../../base/color';
@import '../../base/fonts';
@import '../../extensions/mixins';

/* Divisores de arriba con forma de ola*/
.custom-shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    & svg {
        position: relative;
        display: block;
        width: calc(114% + 1.3px);
        height: 100px;
    }

    & .shape-fill {
        fill: $secondary-theme-color;
    }
}

/* Divisores de abajo con forma de ola*/
.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    & svg {
        position: relative;
        display: block;
        width: calc(114% + 1.3px);
        height: 100px;
    }

    & .shape-fill {
        fill: $secondary-theme-color;
    }
}
