$primary-theme-color: #ffda77;
$secondary-theme-color: #fff0f0;
$third-theme-color: #835858;
$primary-accent-color: #ffa45b;
$secondary-accent-color: #9ad3bc;
$third-accent-color: #463333;
$primary-font-color: #463333;
$secondary-font-color: #835858;
$third-font-color: #fff0f0;