@import '../base/color';
@import '../base/fonts';

%sub-title {
    font-family: $secondary-font-family;
    font-size: 1.2rem;
    font-weight: 400;
    color: $primary-font-color;
    padding: 0;
    margin: 0;
}