@import '../../base/color';
@import '../../base/fonts';
@import '../../extensions/mixins';

.section-contador {
    padding: 2rem 5rem 8rem 5rem;
    background-color: $secondary-theme-color;

    & .counter {
        font-family: $secondary-font-family;
        font-size: 3rem;
        font-weight: 500;
        color: $primary-font-color;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

